/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.filter {
	.filter-category {
		display: inline;
    	float: left;
	}
	.filter-learned {
		display: inline;
	    padding-left: 64px;
	    padding-top: 9px;
	    float: left;
	    font-size: 18px;
	}
	.actions {
		float: left;
	}
	input[type="submit"] {
		padding: 4px 20px 4px 20px;
    	margin: 0px 20px 0 50px;
    	border-radius: 4px;
	}
}
.btn.pdf {
	font-size: 18px;
}
.word-table {
	font-size: 20px;
}